*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.vagrant/
Berksfile
Berksfile.lock
cookbooks/
Vagrantfile

twitter4j4r.sublime-project
twitter4j4r.sublime-workspace